@import "../../../../contrib/zurb_foundation/scss/foundation/functions";

$base-font-size: 18px;
$rem-base: 18px;


//custom colors
$badcamp-orange: #FF9A00;
$badcamp-dk-orange: #C77C18;
$badcamp-lt-blue: #59A8C1;
$badcamp-blue: #35778D;
$badcamp-turquoise: #4AE2DE;





$body-font-color: #FFF;
$body-bg: black;
$header-font-family: Orbitron;