

//custom colors
$badcamp-off-white: #FEFEFE;
$badcamp-header-white: #FFFFFF;
$badcamp-grey: #868C8E;
$badcamp-orange: #FF9A00;
$badcamp-dk-orange: #C77C18;
$badcamp-lt-blue: #59A8C1;
$badcamp-blue: #35778D;
$badcamp-bg-trans-blue: rgba(53,119,141,0.20);
$badcamp-turquoise: #4AE2DE;


//custom fonts
$font-family-orbitron: 'Orbitron', sans-serif;
$font-family-play: 'Play', sans-serif;
$font-family-opensans: 'Open Sans', sans-serif;


$menu-item-color-active: $badcamp-off-white;
$header-font-family: $font-family-orbitron;
$header-font-color: $badcamp-header-white;
$body-background: black;
$body-font-family: $font-family-play;
$body-font-color: $badcamp-off-white;
