

//custom colors
$badcamp-orange: #FF9A00;
$badcamp-dk-orange: #C77C18;
$badcamp-lt-blue: #59A8C1;
$badcamp-blue: #35778D;
$badcamp-turquoise: #4AE2DE;


//custom fonts
$font-family-orbitron: 'Orbitron', sans-serif;
$font-family-play: 'Play', sans-serif;
$font-family-opensans: 'Open Sans', sans-serif;


$header-font-family: $font-family-orbitron;
$header-font-color: #FFF;
$body-background: black;
$body-font-family: $font-family-play;
$body-font-color: #FFF;
