//Base styles

.button {
  text-transform: uppercase;
  border: 1px solid $badcamp-off-white;
  background-color: transparent;
  position: relative;
  padding-right: 1.95em;
  &:after {
    @include css-triangle(0.42em, $badcamp-off-white, right);
    position: absolute;
    right: 0.8em;
    top: 1.0em;
  }
  &:hover {
   border-color: $badcamp-dk-orange;
    background: linear-gradient(270deg, rgba(67, 105, 119, 0.60) 0%, rgba(32, 56, 66, 0.6) 83%);
    &:after {
      @include css-triangle(0.42em, $badcamp-orange, right);
    }
  }
}

//helpful for wysiwyg
.dk-orange {
  color: $badcamp-dk-orange;
}
.orange {
  color: $badcamp-orange;
}
p {
  margin: 0;
}

#canvas2d {
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
}

#site-header,
#site-footer,
#site-main {
  position:relative;
}

#site-main {
  margin-top: 18px;
}

.panels-pane h2.pane-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.page-summits {
  .hero {
    background:url(../../images/Hero/Summits-Hero.png);
    background-size:cover;
    padding: 50px 0 100px 0;
  }
}

// Defines an element that has
// a large display of numbers (like a stat)
// with smaller descriptive text.
.digit-hero {
  text-align: center;
  background: $badcamp-bg-trans-blue;

  .digits {
    font-size: rem-calc(64);
    line-height: 1em;
    margin-bottom:0;
    letter-spacing: 4.13px;
  }
  .description {
    font-size: rem-calc(22);
    color: #F59603;
  }
}

//default page - basic page styles

#badcamp-default {

  .region-title {
    margin: rem-calc(25);
    padding: rem-calc(25);
    
    .page-title {
      &:after {
        content: "////";
        padding-left: 18px;
        display: inline-block;
        color:$badcamp-header-white;
      }
    }
  }

  .region-default-content {
    color: black;
    background-color: $badcamp-off-white;
    margin-left: rem-calc(100);
    margin-right: rem-calc(100);
    padding: rem-calc(50);
  }

  h1 {
    font-family: $font-family-orbitron;
    font-weight: bold;
    //   font-size: rem-calc(46);
    color: #59A8C1;
    letter-spacing: rem-calc(3);
    line-height: rem-calc(40);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
  }

  h2 {
    font-family: $font-family-play;
    //  font-size: 28px;
    color: #59A8C1;
  }

  h3 {
    font-family: $font-family-opensans;
    font-weight: bold;
    //  font-size: 20px;
    color: #4E5661;
  }
  
  p.large {
    font-family: $font-family-opensans;
    font-size: rem-calc(28);
    color: #1F2C33;
   // letter-spacing: -0.41px;
    line-height: rem-calc(40);
  }

  a {
    color: $badcamp-orange;
    text-decoration: underline;
    font-size: 18px;
  }
  
}
