
#site-footer {
  position:relative;
  .footer-top {
    padding-top: 72px;
  }
  .footer-hud-top {
    background: url(../../images/hud_bottom.svg);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height:150px;
    width:100%;
  }
  .footer-hud-bottom {
    background: linear-gradient(-180deg, rgba(32, 66, 79, 0.8) 0%, rgba(24, 42, 50, 0.8) 100%);
  }
  .footer-pane-copyright, .footer-pane-social {
    margin-top: 24px;
    margin-bottom: 144px;
    line-height: 1rem;
    a:hover {
      color: $badcamp-dk-orange;
    }
  }
  .footer-social {
    display: inline-block;
    margin-left: 18px;
    .fa {
      color: white;
      font-size: 32px;
    }
  }
  .footer-pane-copyright{
    font-size: 16px;
  }
  .footer-pane-social {
    font-size: 18px;
    text-align: right;
    span {
      padding-left: 16px;
    }
  }
}


