
#site-footer {
  position:relative;
  .footer-top {
    padding-top: 72px;
  }
  .footer-hud-top {
    background: url(../../images/hud_bottom.svg);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 58px;
    width:100%;
    @include breakpoint(medium) {
      height:95px;
    }
    @include breakpoint(large) {
      height:125px;
    }
    @include breakpoint(xlarge) {
      height:150px;
    }
  }
  .footer-hud-bottom {
    background: linear-gradient(-180deg, rgba(32, 66, 79, 0.8) 0%, rgba(24, 42, 50, 0.8) 100%);
  }
  .footer-pane-copyright, .footer-pane-social {
    @include breakpoint(medium) {
      min-height:9em;
      margin-top: 24px;
      margin-bottom:rem-calc(50);
    }

    line-height: 1rem;
    a:hover {
      color: $badcamp-dk-orange;
    }
  }
  .footer-social {
    display: inline-block;
    margin-left: 18px;
    .fa {
      color: white;
      font-size: 32px;
    }
  }
  .footer-pane-copyright{
    font-size: 16px;
  }
  .footer-pane-social {
    font-size: 18px;
    text-align: right;
    span {
      padding-left: 16px;
    }
  }
}


