
#site-footer {
  .footer-top {
    margin-bottom: 48px;
  }
  .footer-bottom {
    min-height:300px;
    background: url(../../images/hud_bottom.svg), linear-gradient(-180deg, rgba(32, 66, 79, 0.8) 0%, rgba(24, 42, 50, 0.8) 100%);
    background-repeat:no-repeat;
    background-position: top center, 0 136px;
  }
  .footer-pane-copyright, .footer-pane-social {
    margin-top: 120px;
    line-height: 1rem;
    a:hover {
      color: $badcamp-dk-orange;
    }
  }
  .footer-pane-copyright{
    font-size: 16px;
  }
  .footer-pane-social {
    font-size: 18px;
    text-align: right;
    span {
      padding-left: 16px;
    }
  }
}


