//General form styles.
input::-webkit-input-placeholder {
  color: $badcamp-dk-grey !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $badcamp-dk-grey !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: $badcamp-dk-grey !important;
}
input:-ms-input-placeholder {
  color: $badcamp-dk-grey !important;
}
textarea::-webkit-input-placeholder {
  color: $badcamp-dk-grey !important;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: $badcamp-dk-grey !important;
}
textarea::-moz-placeholder {  /* Firefox 19+ */
  color: $badcamp-dk-grey !important;
}
textarea:-ms-input-placeholder {
  color: $badcamp-dk-grey !important;
}
//Geesh... if there any other way that worked.

label {
  color: $badcamp-off-white;
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 42px;

}

//User registration page styles.
.page-registration {
  color: $badcamp-off-white;
  .pane-title {
    font-size: 36px;
    text-transform: none;
    color: $badcamp-lt-blue;
    margin-bottom: 36px;
    &:before, &:after {
      content: none;
    }
  }
  .pane-user-register-form {
    margin-top: 60px;
  }
}

#user-register-form {
  .form-actions {
    position: relative;
    &:after {
      @include css-triangle(9px, $badcamp-off-white, right);
      position: absolute;
      top: 11px;
      right: 270px;
    }
  }
  .form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 42px;

  }

  .field-name-field-user-interest-volunteering, .field-name-field-user-mailchimp {
    display: inline-block;
    width: 49%;
  }
  .form-type-checkbox {
    .form-checkbox {
      margin-top: 12px;
    }
  }
  .field-type-mailchimp-lists-subscription {
    legend {
      display: none;
    }
  }
  .form-type-password-confirm {
    .description {
      display: none;
    }
  }
  .confirm-parent {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

//Profile edit page styles.
.user-profile {
  @include breakpoint(medium up) {
    margin-right: 96px;
  }
  .field-name-field-first-name-last-name,
  .field-name-field-user-title-role,
  #edit-account,
  .field-name-field-user-organization,
  .field-name-field-do-profile,
  .field-name-field-user-twitter-handle,
  .field-name-field-user-facebook-profile,
  .field-name-field-user-flickr-profile {
    @include breakpoint(medium up) {
      max-width: 48%;
      display: inline-block;
    }
  }
  .field-name-field-user-title-role,
  #edit-account,
  .field-name-field-do-profile,
  .field-name-field-user-facebook-profile {
    @include breakpoint(medium up) {
      float: left;
    }
  }
  .field-name-field-first-name-last-name,
  .field-name-field-user-organization,
  .field-name-field-user-twitter-handle,
  .field-name-field-user-flickr-profile {
    @include breakpoint(medium up) {
      float: right;
    }
  }
  .form-submit {
    padding: 0.85em 1em;
  }
  fieldset.form-wrapper {
    height: 0;
    padding:0;
  }
}