label {
  color: $badcamp-off-white;
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 42px;

}

//User registration page styles.
.page-registration {
  color: $badcamp-off-white;
  .pane-title {
    font-size: 36px;
    text-transform: none;
    color: $badcamp-lt-blue;
    margin-bottom: 36px;
    &:before, &:after {
      content: none;
    }
  }
  .pane-user-register-form {
    margin-top: 60px;
  }
}

#user-register-form {
  .form-actions {
    position: relative;
    &:after {
      @include css-triangle(9px, $badcamp-off-white, right);
      position: absolute;
      top: 11px;
      right: 270px;
    }
  }

  .field-name-field-user-interest-volunteering, .field-name-field-user-mailchimp {
    display: inline-block;
    width: 49%;
  }
  .form-type-checkbox {
    .form-checkbox {
      margin-top: 12px;
    }
  }
  .form-type-password-confirm {
    .description {
      display: none;
    }
  }
  .confirm-parent {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

//Sponsorship reg page styles.
.sponsorship-overview {
  text-align: center;
  margin: 58px 0 48px 0;
}

.pane-donation-options {
  .form-item {
    @extend .digit-hero;
    h2 {
      font-size: 1.25em;
      font-family: $font-family-play;
      margin: 36px 0 18px 0;
      a {
        color: $badcamp-lt-orange;
      }
    }
    .field-name-field-donation-type-amount {
      font-family: "Orbitron", sans-serif;
      font-weight: normal;
      font-size: 3rem;
      line-height: 1em;
      margin-bottom: 0px;
      letter-spacing: 4.13px;
    }
    @include breakpoint(1200px up) {
      @include grid-column(23%);
      margin-left: 12px;
      margin-right: 12px;
    }
    @include breakpoint(1200px down) {
      width: 60%;
      margin:0 auto 48px auto;
    }

  }
  .form-type-radio {
    position: relative;
    input[type="radio"] {
      position: absolute;
      bottom: -53px;
      left: 0;
    }
  }
  .spons-reg-button {
    text-align: center;
  }
  .spons-reg-button-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 72px;
    &:after {
      @include css-triangle(9px, $badcamp-off-white, right);
      position: absolute;
      top: 11px;
      right: 16px;
    }
  }
}

//Profile edit reg page
.page-registration-profile {
  .form-actions {
    position: relative;
    &:after {
      @include css-triangle(9px, $badcamp-off-white, right);
      position: absolute;
      top: 11px;
      right: 384px;
    }
  }
}
