
#site-header {
  background: url(../../images/hud_top.svg) bottom center no-repeat;
  padding-bottom: 90px;

  @include breakpoint(medium) {
    background-size: cover;
  }

  @include breakpoint(medium down) {
    .row {
      background: rgba(17, 35, 42, 1);
    }
  }

  .columns {
    padding: 0;
  }
  .row {
    .columns:first-child {
      min-height: 1px;
    }
  }
  .pane-page-site-name {
    a {
      display: block;
      text-align: center;
      color: $badcamp-header-white;
      font-size: 32px;
      text-transform: uppercase;
      position: relative;
      padding-top: 24px;
      letter-spacing: 2.6px;
      &:before {
        content: url(../../images/bc_triangle_left.png);
        position: absolute;
        top: 17px;
        left: 0;
      }
      &:after {
        content: url(../../images/bc_triangle_right.png);
        position: absolute;
        top: 17px;
        right: 0;
      }
    }
  }

  .pane-content {
    font-family: $font-family-orbitron;
    color: $badcamp-off-white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.67px;
    .menu {
      font-family: $font-family-play;
      font-size: 20px;
      letter-spacing: 1.29px;
    }
  }
}
