.region-hero,
.region-about-header,
.region-news,
.region-sponsors {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    &:before {
      content: "\\\\\\\\";
      padding-right: 18px;
    }
    &:after {
      content: "////";
      padding-left: 18px;
    }
    &:before, &:after {
      display: inline-block;
      color:$badcamp-orange;
    }
  }
}

.region-hero {
  h2 {
    font-size: 46px;
    color: $badcamp-lt-blue;
    &:before, &:after {
      color: $badcamp-header-white;
    }
  }

  .pane-content {
    border-top: 1px solid #4E4E4E;
    margin-top: 15px;
    padding-top: 34px;
    padding-bottom: 106px;

    p {
      font-size: 1.7rem;
      line-height: 1.45;
      margin-bottom: 0;
      letter-spacing: 2px;

      &.date {
        margin-top: 2.4rem;
      }

      strong {
        font-weight: normal;
        color: $badcamp-orange;
        padding-right: 0.8rem;
        text-transform: uppercase;
      }
    }

    hr {
      clear: none;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      width: 75%;
      border-bottom: 1px solid #4E4E4E;
      margin-left: 0;
    }

    img {
      float: right;
      padding-right: 25px;
    }

    a.button {
      text-transform: none;
      margin-right: 2rem;
      font-size: 1.4rem;
    }
  }
}

.region-about {
  background: linear-gradient(0deg, rgba(51, 117, 138, 0.60) 24%, rgba(32, 56, 66, 0.60) 89%);
  margin-bottom: 76px;

  .digit-hero {
    min-height: 335px;
    // Needed to prevent margin on .digits from
    // overflowing the .digit-hero.
    overflow:auto;

    .digits {
      margin-top:119px;
    }
  }
}

.region-about-first, .region-about-third {
  margin-bottom: 32px;
}
.region-about-second {
  .pane-testimonials {
    min-height: 175px;
    text-align: center;
    background: $badcamp-bg-trans-blue;
    p {
      margin: 0;
    }
  }
}
.pane-testimonials {
  .pane-content {
    padding-top: 54px;
  }
}
.region-about-header {
  margin-top: 80px;
}
.region-about-copy {
  margin-bottom: 65px;
  p {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    max-width: 987px;
    margin: auto;
  }
}
.region-about-button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 107px;
}
.region-news  {
  margin-bottom: 76px;
  h2.pane-title{
    margin-bottom: 40px;
  }
  h3.field-content {
    /* Title of News/Events: */
    text-align: left;
    font-family: $font-family-play;
    font-weight: bold;
    text-transform: none;
    font-size: 28px;
    color: $badcamp-lt-blue;
    letter-spacing: 1.82px;
  }
  a {
     color: $badcamp-lt-blue;
    }
  p {
    font-family: $font-family-opensans;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 28px;
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 40px;
  }
}
.region-sponsors {
  background: rgba(32, 55, 65, 0.60) linear-gradient(0deg, #33758A 24%, #203842 89%);
  padding: 76px 0 76px 0;
  .view-header {
    font-family: $font-family-orbitron;
    font-size: 24px;
    text-transform: uppercase;
    color: $badcamp-lt-blue;
    letter-spacing: 1.56px;
    padding-bottom: 28px;
  }
  .field-content > a > img {
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .view-footer {
    .button {
      margin: 2em;
    };
  }
}

.digit-hero {
  text-align: center;
  background: rgba(53,119,141,0.20);

  .digits {
    font-size: rem-calc(64);
    line-height: 1em;
    margin-bottom:0;
    letter-spacing: 4.13px;
  }
  .description {
    font-size: rem-calc(22);
    color: #F59603;
  }
}
