
#home-intro {
  .pane-title {
    color: $badcamp-lt-blue;
    font-size: 3.25vw;

    &:before, &:after {
      color:$badcamp-header-white;
    }
  }
  .pane-content {
    border-top: 1px solid #4E4E4E;
    margin-top: 15px;
    padding-top: 34px;
    padding-bottom: 106px;

    p {
      font-size: 1.7rem;
      line-height: 1.45;
      margin-bottom: 0;
      letter-spacing: 2px;

      &.date {
        margin-top: 2.4rem;
      }

      strong {
        font-weight: normal;
        color: $badcamp-orange;
        padding-right: 0.8rem;
        text-transform: uppercase;
      }
    }
    hr {
      clear: none;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      width: 75%;
      border-bottom: 1px solid #4E4E4E;
      margin-left: 0;
    }

    img {
      float: right;
      padding-right: 25px;
    }

    a.button {
      text-transform: none;
      margin-right: 2rem;
      font-size: 1.4rem;
    }
  }
}

.region-about {
  //background: linear-gradient(0deg, rgba(51, 117, 138, 0.60) 24%, rgba(32, 56, 66, 0.60) 89%);
  margin-bottom: 76px;

  img {
    display: block;
    margin: auto;
    width:100%;
  }

  .digit-hero {
    min-height: 335px;
    // Needed to prevent margin on .digits from
    // overflowing the .digit-hero.
    overflow:auto;

    .digits {
      margin-top:119px;
    }
  }
}

.region-about-first, .region-about-third {
  margin-bottom: 32px;
}
.region-about-second {
  margin-bottom: 32px;
  .pane-testimonials {
    min-height: 175px;
    text-align: center;
    background: $badcamp-bg-trans-blue;
    box-sizing: border-box;
    padding: 0 7%;
    p {
      margin: 0;
      line-height: 1.4;
      margin-bottom: 0.25em;
    }
  }
  img {
    width: 100%;
  }
}

.pane-testimonials {
  .pane-content {
    padding-top: 2em;
  }
  p {
    font-size: 1.5em;
  }
}
.region-about-header {
  margin-bottom: 65px;
  p {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    max-width: 987px;
    margin: auto;
  }

  @include breakpoint(medium down) {
    h2:before,
    h2:after {
      content: none;
    }
  }
}
.region-about-button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 107px;
}
.region-news  {
  margin-bottom: 76px;
}

.region-sponsors {
  .field-content > a > img {
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .view-header {
    text-align: center;
  }
  .view-footer {
    .sponsor-buttons {
      text-align: center;
    }
    .button {
      margin-top: 2em;
      white-space: nowrap;
    };
  }
  h3 {
    text-transform: uppercase;
  }
}
