//user menu styles
.pane-system-user-menu {
  float: right;
  a {
    font-weight: normal;
    font-size: 16px;
    color: $badcamp-dk-orange;
  }
}

//main menu styles
.pane-system-main-menu {
  a {
    display: inline-block;
    position: relative;
    margin: 0 8px;
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    color: $badcamp-off-white;
    &:hover {
      color: $badcamp-lt-blue;
    }
  }
}
//main menu top-level specific links
.pane-system-main-menu > .pane-content > .menu {
  > li {
    &.is-active {
      &:hover {
        background: $badcamp-menu-blue;
      }
    }

    &.is-dropdown-submenu-parent {
      > a {
        &:after {
          @include css-triangle(6px, $badcamp-lt-blue, down);
          position: absolute;
          top: 21px;
          right: 0;
        }
        &:hover {
          &:after {
            @include css-triangle(6px, $badcamp-orange, down);
          }
        }
      }
    }

    > a {
      text-transform: uppercase;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

//styles for main menu dropdowns
.pane-system-main-menu ul.submenu {
  background: $badcamp-menu-blue;
  border: none;
  padding: 0 18px;
  li {
    padding: 18px 6px;
    border-bottom: 1px solid $badcamp-grey;
    &:first-child {
      padding-top: 24px;
    }
    &:last-child {
      border-bottom: none;
    }
    a {
      padding:0;
      font-size: 18px;
    }
  }
}

//styles for footer menu
.pane-menu-menu-footer-menu {
  padding: 0 36px;
  .menu {
    text-align: center;
    li {
      display: inline-block;
      margin:0 32px;
      a {
        display: inline-block;
        font-family: $font-family-orbitron;
        font-size: 18px;
        font-weight: bold;
        color: $badcamp-turquoise;
        position: relative;
        &:after {
          @include css-triangle(9px, $badcamp-off-white, right);
          position: absolute;
          right: -2px;
          top: 9px;
        }
      }
    }
  }
}