

@include breakpoint(medium) {
  .node.node-sponsor {
    .field-name-field-sponsor-logo {
      float:right;
      margin-left:20px;
      margin-bottom:20px;
    }
  }
}
//hides user badge until it can be replaced
img.sponsor.badge {
  display: none;
}

.media-object {
  .media-object-section {
    vertical-align: middle;
  }
}

body.page-summits .region-hero {
  background-size: cover;
}
