
.pane-title {
  text-align: center;
  text-transform: uppercase;

  @include breakpoint(medium) {
    &:before {
      content: "\\\\\\\\";
      padding-right: 18px;
    }
    &:after {
      content: "////";
      padding-left: 18px;
    }
    &:before, &:after {
      display: inline-block;
      color: $badcamp-orange;
    }
  }
}

.region-content,
.region-about,
.region-sponsors {
  padding-top: 76px;
  padding-bottom: 76px;
}

.opaque {
  background: linear-gradient(0deg, rgba(51, 117, 138, 0.60) 24%, rgba(32, 56, 66, 0.60) 89%);
}
