//styles used in views

//h3 for sponsors grouping and news item titles
h3 {
  font-family: $font-family-orbitron;
  color: $badcamp-lt-blue;
  letter-spacing: rem-calc(1.56);
  padding-bottom: rem-calc(28);
  padding-top: rem-calc(28);
  font-weight: normal;
}

//sponsors view
.pane-sponsors-panel-pane-1, .pane-sponsors-panel-pane-4 {
  h3.pane-title {
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
    font-weight: normal;
    text-align: left;
  }
}

.page-sponsors {
  .view-id-sponsors {
    .row {
      background-color: $white;
      padding: 2em;
      .views-field-field-sponsor-logo{
        padding: 2em;
      }
    }
  }
}

// news view
.pane-badcamp-news-panel-pane-1
h2.pane-title{
  margin-bottom: 40px;
}

//news, summit events view
.view-badcamp-news, .view-events-view, .view-badcamp-trainings {
  h3.field-content {
    text-align: left;
    font-family: $font-family-play;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1.82px;
    padding-bottom: rem-calc(8);
  }
  .date-display-single {
    color: $badcamp-orange;
    font-size: rem-calc(18);
  }
  a {
    color: $badcamp-lt-blue;
  }
  p {
    font-family: $font-family-opensans;
    font-size: rem-calc(18);
  }
  .views-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .learn-more {
    color: $badcamp-orange;
    text-decoration: underline;
    font-size: 18px;
  }
}

.view-attendees {
  .views-row {
    margin-bottom: 20px;
    text-align: center;
  }

  .button.form-submit {
    margin-top: 0;
  }

  .button.form-submit-wrapper {
    margin-top: 1.6em;
  }
}

.view-id-badcamp_sessions {
  .button {
    float: right;
  }

  .view-content {
    p, th {
      color: black;
    }

    .views-field-title {
      width: 80%;
    }

    .views-field-field-session-speaker {
      width: 20%;
    }

    .even {
      background-color: #e6e6e6;
    }
  }
}
